name: Continuous integration
on:
  push:
    branches: [ '**' ]
    tags: [ 'v*.*.*' ]
  pull_request:
    branches: [ '**' ]
jobs:
  Runner:
    runs-on: ${{ matrix.ci-type.os }}
    strategy:
      fail-fast: false
      matrix:
        ci-type: [
          {os: "windows-latest", arch: "x64"},
          {os: "macos-latest", arch: "x64"},
          {os: "ubuntu-latest", arch: "x64"},
        ]
        node-version: [ 18, 20, 22, 24 ]
    steps:
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Checkout Git Source
      uses: actions/checkout@master

    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v1.1
      if: ${{ matrix.ci-type.os == 'windows-latest' }}

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install Dependencies
      run: npm install

    - name: Continuous Integration
      run: npm run ci

    - name: Code Coverage
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}

    - name: Package Binary
      run: npm run pack

    - name: Upload Release Assets
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: release/**
        fail_on_unmatched_files: true

  Alpine:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version: [ 18, 20, 22, 24 ]
    container:
      image: node:${{ matrix.node-version }}-alpine
    steps:
    - name: Install build dependencies
      run: apk add --no-cache python3 make g++ git

    - name: Checkout Git Source
      uses: actions/checkout@master

    - name: Install Dependencies
      run: npm install --build-from-source

    - name: Continuous Integration
      run: npm run ci

    - name: Package Binary
      run: npm run pack

    - name: Upload Release Assets
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: release/**
        fail_on_unmatched_files: true
